:root {
    --header_color: rgb(246, 254, 240);
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  main {
    width: 90%;
    margin-top: 4.5em;
    padding-top: 0.5em;
    flex: 1; 
  }